@model VacationManager.Models.Team



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>


<div>

        <h1 class="alert">Delete team</h1>
        <table class="detailsTable">
            <tr>
                <td>Name:</td>
                <td class="darker">@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>Project:</td>
                <td class="darker">@Html.DisplayFor(model => model.Project.Name)</td>
            </tr>
            <tr>
                <td>Leader:</td>
                <td class="darker">@Html.DisplayFor(model => model.Leader.UserName)</td>
            </tr>
            <td>Team members:</td>
            <td class="darker">
                @if (Model.ApplicationUsers.Count > 0)
                {
                    foreach (var item in Model.ApplicationUsers)
                    {
                        <p>	&diams; @item.UserName</p>
                    }
                }
                else
                {
                    <i>none</i>
                }
            </td>
        </table>

        <form asp-action="Delete" class="detailsDiv">
            <h2 class="alert">Are you sure you want to delete this?</h2>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
