@model VacationManager.Models.Team



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h1>Team</h1>
        <table class="detailsTable">
            <tr>
                <td>Name:</td>
                <td class="darker">@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>Project:</td>
                <td class="darker">@Html.DisplayFor(model => model.Project.Name)</td>
            </tr>
            <tr>
                <td>Leader:</td>
                <td class="darker">@Html.DisplayFor(model => model.Leader.UserName)</td>
            </tr>
            <tr>
                <td>Team members:</td>
                <td class="darker">
                    @if (Model.ApplicationUsers.Count > 0)
                    {
                        foreach (var item in Model.ApplicationUsers)
                        {
                            <p>	&diams; @item.UserName</p>
                        }
                    }
                    else
                    {
                        <i>none</i>
                    }
                </td>
            </tr>
        </table>
<div class="detailsDiv">
            <a asp-action="Index" class="indexButton yellow" asp-controller="Ceo">Add new user to team</a>
            <a asp-action="Edit" class="indexButton yellow" asp-route-id="@Model?.Id">Edit</a>
            <a asp-action="Delete" class="indexButton orange" asp-route-id="@Model?.Id">Delete</a>
            <br />
            <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
