<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vacation Manager</title>
        
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                Vacation Manager
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a asp-action="Index" asp-controller="Home">Home</a>
            <a asp-action="Login" asp-controller="UserAuthentication">Logout</a>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    
</body>
</html>
