@model VacationManager.Models.AdditionalModels.EditUserAccountModel;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-block">
                <h1>Edit your information</h1>
                <form asp-action="EditUser" method="post">
                    <div class="form-group">
                        <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                        <input type="text" class="form-control" asp-for="FirstName" />
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                        <input type="text" class="form-control" asp-for="LastName" />
                        <span class="text-danger" asp-validation-for="LastName"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                        <input type="text" class="form-control" disabled asp-for="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="Username" class="col-sm-2 col-form-label"></label>
                        <input type="text" class="form-control" disabled asp-for="Username" />
                        <span class="text-danger" asp-validation-for="Username"></span>

                    </div>
                    <a asp-action="ChangePassword">ChangePassword</a>
                    <div class="second-form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-action="Index">Back to homepage</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <div>
        
    </div>
</body>
</html>
