@{
    string username = User.Identity.Name;
}

Welcome @username
<ul>
    @if (User.IsInRole("CEO"))
    {
        <li><a href="/Ceo/Index">User settings</a></li>
        <li><a href="/Teams/Index">Teams information</a></li>
        <li><a href="/Projects/Index">Projects information</a></li>
        <li><a href="/Vacations/Index">Vacations information</a></li>
    }
</ul>
