@model VacationManager.Models.Project;
@{
    ViewData["Title"] = "Create Project";
    //var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h3>@ViewData["Title"]</h3>
    <hr />
    @if (!string.IsNullOrWhiteSpace(errorMessage))
    {
        <div clss="alert alert-danger">
            <strong>Error! </strong>@errorMessage
        </div>
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    }
    <form action="Create" method="post">
        <div class="mb-3">
            <label class="col-form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="col-form-label">Description</label>
            <input type="text" class="form-control" asp-for="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
