@model VacationManager.Models.Project



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
    <h1 class="alert">Delete project</h1>
    <table class="detailsTable">
        <tr>
            <td>Name:</td>
            <td class="darker">@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td class="darker">@Html.DisplayFor(model => model.Description)</td>
        </tr>
            <tr>
                <td>Teams:</td>
                <td class="darker">
                    @if (Model.Teams.Count > 0)
                    {
                        foreach (var item in Model.Teams)
                        {
                            <p>	&diams; @item.Name</p>
                        }
                    }
                    else
                    {
                        <i>none</i>
                    }

                </td>
            </tr>
        </table><form asp-action="Delete" class="detailsDiv">
            <h2 class="alert">Are you sure you want to delete this?</h2>
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index">Back to List</a>
        </form>
</div>
</body>
</html>
