@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
}
h1, .alert {
    text-align: center;
}
    .alert{
        color:red;
    }
    h1 {
        font-size: 1.6em;
    }

.h1Button h1 {
    position: relative;
    top: -0.6em;
}
.h1Button .btn {
    position: relative;
    top: 2em;
    left: 1em;
    z-index:100;
}
html {
    height: 100%;
}
a {
    color: #d6d2cf;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#0b2700, #336022);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #d6d2cf;
    padding-bottom: 2.4rem;
}
#userInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:2em;
}
    #userInfo td {
        width: 11rem;
    }
    #userInfo .darker, .detailsTable .darker {
        color: #d6d2cfd9;
        
    }
        .detailsTable .darker{
text-align: right;
        }
        .detailsTable, .detailsDiv {
            margin: 0 auto;
            width: 30%;
        }
        .detailsTable td{
            vertical-align:baseline;
        }
    .detailsDiv{
        margin-top:1em;
        text-align:center;
    }
        .detailsDiv img {
            
            width: 100%;
        }

        #buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 80%;
            min-height: 100%;
            margin: 0 auto;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }

.btn {
    color: #d6d2cf;
    text-decoration: none;
    align-self: center;
    background: transparent;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: all .5s ease;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 3px #d6d2cf;
}

    .btn:hover {
        color: #478530;
        border: dashed 3px #478530;
        box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,.3);
    }

.nav {
    height: 2.45em;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: relative;
}

    .nav > .nav-header {
        display: inline;
    }

        .nav > .nav-header > .nav-title {
            display: inline-block;
            padding: 10px 10px 10px 10px;
        }

    .nav > .nav-btn {
        display: none;
    }

    .nav > .nav-links {
        display: inline;
        float: right;
        font-size: 18px;
    }

        .nav > .nav-links > a {
            display: inline-block;
            text-decoration: none;
            padding: 13px 10px 13px 10px;
        }
        .nav .nav-title a {
            text-decoration: none;
        }

            .nav > .nav-links > a:hover {
                background-color: #336022c4;
            }

    .nav > #nav-check {
        display: none;
    }

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

        .nav > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
        }

            .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
                background-color: #336022c4;
            }

            .nav > .nav-btn > label > span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid #eee;
            }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

        .nav > .nav-links > a {
            display: block;
            width: 100%;
        }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

form {
    width: 30%;
    margin: 0 auto;
    margin-top: 2em;
}

    form label, form input {
        display: block;
    }

    form .btn {
        margin-top: 0.4em;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 50%;
        margin-left:0;
        display:inline-block;
    }
    form input, form select, form img, form textarea {
        width: 100%;
    }
        form textarea{
            height: 8em;
        }
        form .second-form-group {
            display: flex;
            flex-direction: row;
            margin-top: 0.4em;
        }
        form .second-form-group a {
            margin: 0 0 0 auto;
            margin-top:0.7em;
        }
            form .second-form-group a:hover {
                color: #478530;
            }

    form .form-group span{
        color:red;
    }

.form-check-input{
    display:inline-block;
    width:10%;
}
.form-group{
    margin-top:0.2em;
}
form table{
    width:100%;
}
    form table td {
        width:100%;
    }




.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1em;
    width: 1em;
    margin-left:0.5em;
    vertical-align:middle;
    transition: all 0.15s ease-out 0s;
    background: #4c7957;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 1000;
}

.checkbox:hover {
    background: #f4fab5;
}

.checkbox:checked {
    background: #deda3c;
}

.checkbox:checked::before {
    width: 1em;
    height: 1em;
    display: flex;
    content: '\f00c';
    font-size: 0.9em;
    font-weight: bold;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: 'Font Awesome 5 Free';
}

        .checkbox:checked::after {
            background: #deda3c;
            content: '';
            display: block;
            position: relative;
            z-index: 100;
        }

    .checkbox:disabled, .checkbox[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }

.indexTable {
    position: relative;
    margin: 0 auto;
}
.indexProjectDescription{
    width:20em;
}
.indexTable th {
    font-style: italic;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.indexTable td {
    text-align: center;
    vertical-align:baseline;
}
.indexButton {
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 15px 15px;
    margin: 0.1em;
}
.pink {
    background-color: #810276;
}
.purple {
    background-color: #470288;
}
.blue {
    background-color: #180093;
}
.yellow {
    background-color: #939000;
}